
/* Fontello @font-face {
    font-family: 'fontcrm';
    src: url('../../../fonts/FontCRM/FontCRM.eot');
    src: url('../../../fonts/FontCRM/FontCRM.eot') format('embedded-opentype'),
    url('../../../fonts/FontCRM/FontCRM.woff') format('woff'),
    url('../../../fonts/FontCRM/FontCRM.ttf') format('truetype'),
    url('../../../fonts/FontCRM/FontCRM.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}*/

@font-face {
    font-family: 'fontcrm';
    src:
        url('../../../fonts/FontCRM/FontCRM.ttf?v=2.5.7') format('truetype'),
        url('../../../fonts/FontCRM/FontCRM.woff?v=2.5.7') format('woff'),
        url('../../../fonts/FontCRM/FontCRM.svg?v=2.5.7') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'crmfont';
    src: url('../font/crmfont.svg?49409077#crmfont') format('svg');
  }
}
*/

.crm {
/*  color:#6f7151;*/
    color:#6C6A6A;
    cursor:pointer;
    font-size:14px;
    font-family: "fontcrm";
    font-style: normal;
    font-weight: normal;
    speak: none;

    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    margin-right: .2em;
    text-align: center;
/* opacity: .8; */

/* For safety - reset parent styles, that can break glyph codes*/
    font-variant: normal;
    text-transform: none;

/* fix buttons height, for twitter bootstrap */
    line-height: 1em;

/* Animation center compensation - margins should be symmetric */
/* remove if not needed */
    margin-left: .2em;

/* you can be more comfortable with increased icons size */
/* font-size: 120%; */

/* Font smoothing. That was taken from TWBS */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

/* Uncomment for 3D effect */
/* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */

}
[data-icon]:before {
    font-family: "fontcrm" !important;
    content: attr(data-icon);
    font-style: normal !important;
    font-weight: normal !important;
    font-variant: normal !important;
    text-transform: none !important;
    speak: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

[class^="crm-"]:before,
[class*=" crm-"]:before {
    font-family: "fontcrm" !important;
    font-style: normal !important;
    font-weight: normal !important;
    font-variant: normal !important;
    text-transform: none !important;
    speak: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.crm-3d-bar-chart:before {
    content: "\e000";
}
.crm-3d-stacked-chart:before {
    content: "\e001";
}
.crm-3d-stacked-chart-1:before {
    content: "\e002";
}
.crm-4day-calendar:before {
    content: "\e003";
}
.crm-360-degrees:before {
    content: "\e004";
}
.crm-access:before {
    content: "\e005";
}
.crm-accesst-management:before {
    content: "\e006";
}
.crm-action-task:before {
    content: "\e007";
}
.crm-activity:before {
    content: "\e008";
}
.crm-activity-1:before {
    content: "\e009";
}
.crm-add:before {
    content: "\e00a";
}
.crm-add-1:before {
    content: "\e00b";
}
.crm-add-2:before {
    content: "\e00c";
}
.crm-add-1-1:before {
    content: "\e00d";
}
.crm-add-file:before {
    content: "\e00e";
}
.crm-add-group:before {
    content: "\e00f";
}
.crm-add-row:before {
    content: "\e010";
}
.crm-added:before {
    content: "\e011";
}
.crm-addnewgroup:before {
    content: "\e012";
}
.crm-addnote:before {
    content: "\e013";
}
.crm-adv-filter:before {
    content: "\e014";
}
.crm-aknowledge:before {
    content: "\e015";
}
.crm-all-records:before {
    content: "\e016";
}
.crm-amount:before {
    content: "\e017";
}
.crm-analyze:before {
    content: "\e018";
}
.crm-announcement:before {
    content: "\e019";
}
.crm-announcement-1:before {
    content: "\e01a";
}
.crm-approval-information:before {
    content: "\e01b";
}
.crm-approve-info:before {
    content: "\e01c";
}
.crm-archive:before {
    content: "\e01d";
}
.crm-arrow:before {
    content: "\e01e";
}
.crm-arrow-close:before {
    content: "\e01f";
}
.crm-arrow-down:before {
    content: "\e020";
}
.crm-arrow-open:before {
    content: "\e021";
}
.crm-arrowdown:before {
    content: "\e022";
}
.crm-arrowup:before {
    content: "\e023";
}
.crm-bankingpayment:before {
    content: "\e024";
}
.crm-bar-report:before {
    content: "\e025";
}
.crm-bell:before {
    content: "\e026";
}
.crm-book-slot:before {
    content: "\e027";
}
.crm-bookmark-add:before {
    content: "\e028";
}
.crm-calendar:before {
    content: "\e029";
}
.crm-calendar-date-range:before {
    content: "\e02a";
}
.crm-calendar-setting:before {
    content: "\e02b";
}
.crm-call-dialler:before {
    content: "\e02c";
}
.crm-calling-service-2:before {
    content: "\e02d";
}
.crm-chat:before {
    content: "\e02e";
}
.crm-checked:before {
    content: "\e02f";
}
.crm-circle:before {
    content: "\e030";
}
.crm-clearform:before {
    content: "\e031";
}
.crm-clone:before {
    content: "\e032";
}
.crm-close-dlg:before {
    content: "\e033";
}
.crm-close-treemenu:before {
    content: "\e034";
}
.crm-cloud-setting:before {
    content: "\e035";
}
.crm-cloudprint:before {
    content: "\e036";
}
.crm-cog:before {
    content: "\e037";
}
.crm-col-adjust:before {
    content: "\e038";
}
.crm-collapse:before {
    content: "\e039";
}
.crm-column-properties:before {
    content: "\e03a";
}
.crm-combo-search:before {
    content: "\e03b";
}
.crm-comment:before {
    content: "\e03c";
}
.crm-communication:before {
    content: "\e03d";
}
.crm-company:before {
    content: "\e03e";
}
.crm-contest-block:before {
    content: "\e03f";
}
.crm-courier-wise-awb-nos:before {
    content: "\e040";
}
.crm-courier-wise-pin-code:before {
    content: "\e041";
}
.crm-created:before {
    content: "\e042";
}
.crm-crm-add-messages:before {
    content: "\e043";
}
.crm-crm-detailedview:before {
    content: "\e044";
}
.crm-crm-m-2615:before {
    content: "\e045";
}
.crm-csv:before {
    content: "\e046";
}
.crm-cubes:before {
    content: "\e047";
}
.crm-custom-add:before {
    content: "\e048";
}
.crm-custom-icon:before {
    content: "\e049";
}
.crm-custom-module:before {
    content: "\e04a";
}
.crm-customization-list:before {
    content: "\e04b";
}
.crm-customize:before {
    content: "\e04c";
}
.crm-customize-list:before {
    content: "\e04d";
}
.crm-customize-report:before {
    content: "\e04e";
}
.crm-d-bar-chart:before {
    content: "\e04f";
}
.crm-d-stacked-chart:before {
    content: "\e050";
}
.crm-dashlet-maximize:before {
    content: "\e051";
}
.crm-dashlet-minimize:before {
    content: "\e052";
}
.crm-date-picker:before {
    content: "\e053";
}
.crm-day-calendar:before {
    content: "\e054";
}
.crm-day-calendar2:before {
    content: "\e055";
}
.crm-day-calendar-lg:before {
    content: "\e056";
}
.crm-day-time:before {
    content: "\e057";
}
.crm-decoration-circle:before {
    content: "\e058";
}
.crm-default-file:before {
    content: "\e059";
}
.crm-default-img:before {
    content: "\e05a";
}
.crm-defaultimg:before {
    content: "\e05b";
}
.crm-delete:before {
    content: "\e05c";
}
.crm-delete-1:before {
    content: "\e05d";
}
.crm-delete-all:before {
    content: "\e05e";
}
.crm-deleted:before {
    content: "\e05f";
}
.crm-document:before {
    content: "\e060";
}
.crm-donut:before {
    content: "\e061";
}
.crm-down-arrow:before {
    content: "\e062";
}
.crm-draft:before {
    content: "\e063";
}
.crm-drag:before {
    content: "\e064";
}
.crm-drag-and-drop:before {
    content: "\e065";
}
.crm-edit:before {
    content: "\e066";
}
.crm-edit-1:before {
    content: "\e067";
}
.crm-email-settings:before {
    content: "\e068";
}
.crm-empire:before {
    content: "\e069";
}
.crm-empty-note:before {
    content: "\e06a";
}
.crm-enquiry:before {
    content: "\e06b";
}
.crm-evening-time:before {
    content: "\e06c";
}
.crm-excel:before {
    content: "\e06d";
}
.crm-expand:before {
    content: "\e06e";
}
.crm-export:before {
    content: "\e06f";
}
.crm-external-link-square:before {
    content: "\e070";
}
.crm-extra-module:before {
    content: "\e071";
}
.crm-eye:before {
    content: "\e072";
}
.crm-favourite-menu:before {
    content: "\e073";
}
.crm-file:before {
    content: "\e074";
}
.crm-file-text:before {
    content: "\e075";
}
.crm-fill-bucket:before {
    content: "\e076";
}
.crm-fill-txt-bg-color:before {
    content: "\e077";
}
.crm-filter:before {
    content: "\e078";
}
.crm-filter-plus:before {
    content: "\e079";
}
.crm-find-replace:before {
    content: "\e07a";
}
.crm-folder-add-circle:before {
    content: "\e07b";
}
.crm-folder-close:before {
    content: "\e07c";
}
.crm-folder-collapse:before {
    content: "\e07d";
}
.crm-folder-doc:before {
    content: "\e07e";
}
.crm-folder-open:before {
    content: "\e07f";
}
.crm-followup:before {
    content: "\e080";
}
.crm-font-icon:before {
    content: "\e081";
}
.crm-format:before {
    content: "\e082";
}
.crm-formula:before {
    content: "\e083";
}
.crm-forward:before {
    content: "\e084";
}
.crm-full-priority:before {
    content: "\e085";
}
.crm-function:before {
    content: "\e086";
}
.crm-funnel-chart:before {
    content: "\e087";
}
.crm-google-drive:before {
    content: "\e088";
}
.crm-graphleftmenu:before {
    content: "\e089";
}
.crm-grid:before {
    content: "\e08a";
}
.crm-grid-view:before {
    content: "\e08b";
}
.crm-group:before {
    content: "\e08c";
}
.crm-group-by:before {
    content: "\e08d";
}
.crm-hash:before {
    content: "\e08e";
}
.crm-help:before {
    content: "\e08f";
}
.crm-hide-eye:before {
    content: "\e090";
}
.crm-home:before {
    content: "\e091";
}
.crm-home-1:before {
    content: "\e092";
}
.crm-horizontal-bar-chart:before {
    content: "\e093";
}
.crm-html:before {
    content: "\e094";
}
.crm-html-1:before {
    content: "\e095";
}
.crm-image:before {
    content: "\e096";
}
.crm-image-1:before {
    content: "\e097";
}
.crm-image-search:before {
    content: "\e098";
}
.crm-import:before {
    content: "\e099";
}
.crm-info:before {
    content: "\e09a";
}
.crm-information:before {
    content: "\e09b";
}
.crm-insert:before {
    content: "\e09c";
}
.crm-insert-row:before {
    content: "\e09d";
}
.crm-invoice:before {
    content: "\e09e";
}
.crm-items-menu:before {
    content: "\e09f";
}
.crm-keypad:before {
    content: "\e0a0";
}
.crm-languages:before {
    content: "\e0a1";
}
.crm-layout-delete:before {
    content: "\e0a2";
}
.crm-left-arrow:before {
    content: "\e0a3";
}
.crm-like-1:before {
    content: "\e0a4";
}
.crm-like-2:before {
    content: "\e0a5";
}
.crm-line-direction:before {
    content: "\e0a6";
}
.crm-line-graph:before {
    content: "\e0a7";
}
.crm-link-module-information:before {
    content: "\e0a8";
}
.crm-list:before {
    content: "\e0a9";
}
.crm-list-delete:before {
    content: "\e0aa";
}
.crm-list-edit:before {
    content: "\e0ab";
}
.crm-list-view:before {
    content: "\e0ac";
}
.crm-location-search:before {
    content: "\e0ad";
}
.crm-lock:before {
    content: "\e0ae";
}
.crm-low-priority:before {
    content: "\e0af";
}
.crm-m-1:before {
    content: "\e0b0";
}
.crm-m-2:before {
    content: "\e0b1";
}
.crm-m-3:before {
    content: "\e0b2";
}
.crm-m-256:before {
    content: "\e0b3";
}
.crm-m-257:before {
    content: "\e0b4";
}
.crm-m-512:before {
    content: "\e0b5";
}
.crm-m-768:before {
    content: "\e0b6";
}
.crm-m-1024:before {
    content: "\e0b7";
}
.crm-m-1280:before {
    content: "\e0b8";
}
.crm-m-1536:before {
    content: "\e0b9";
}
.crm-m-1792:before {
    content: "\e0ba";
}
.crm-m-2305:before {
    content: "\e0bb";
}
.crm-m-2306:before {
    content: "\e0bc";
}
.crm-m-2307:before {
    content: "\e0bd";
}
.crm-m-2308:before {
    content: "\e0be";
}
.crm-m-2309:before {
    content: "\e0bf";
}
.crm-m-2310:before {
    content: "\e0c0";
}
.crm-m-2311:before {
    content: "\e0c1";
}
.crm-m-2312:before {
    content: "\e0c2";
}
.crm-m-2313:before {
    content: "\e0c3";
}
.crm-m-2314:before {
    content: "\e0c4";
}
.crm-m-2315:before {
    content: "\e0c5";
}
.crm-m-2316:before {
    content: "\e0c6";
}
.crm-m-2320:before {
    content: "\e0c7";
}
.crm-m-2321:before {
    content: "\e0c8";
}
.crm-m-2322:before {
    content: "\e0c9";
}
.crm-m-2323:before {
    content: "\e0ca";
}
.crm-m-2324:before {
    content: "\e0cb";
}
.crm-m-2326:before {
    content: "\e0cc";
}
.crm-m-2327:before {
    content: "\e0cd";
}
.crm-m-2328:before {
    content: "\e0ce";
}
.crm-m-2329:before {
    content: "\e0cf";
}
.crm-m-2330:before {
    content: "\e0d0";
}
.crm-m-2330-1:before {
    content: "\e0d1";
}
.crm-m-2331:before {
    content: "\e0d2";
}
.crm-m-2332:before {
    content: "\e0d3";
}
.crm-m-2333:before {
    content: "\e0d4";
}
.crm-m-2334:before {
    content: "\e0d5";
}
.crm-m-2335:before {
    content: "\e0d6";
}
.crm-m-2336:before {
    content: "\e0d7";
}
.crm-m-2337:before {
    content: "\e0d8";
}
.crm-m-2338:before {
    content: "\e0d9";
}
.crm-m-2339:before {
    content: "\e0da";
}
.crm-m-2340:before {
    content: "\e0db";
}
.crm-m-2340-1:before {
    content: "\e0dc";
}
.crm-m-2344:before {
    content: "\e0dd";
}
.crm-m-2344-1:before {
    content: "\e0de";
}
.crm-m-2357:before {
    content: "\e0df";
}
.crm-m-2460:before {
    content: "\e0e0";
}
.crm-m-2460-1:before {
    content: "\e0e1";
}
.crm-m-2461:before {
    content: "\e0e2";
}
.crm-m-2462:before {
    content: "\e0e3";
}
.crm-m-2464:before {
    content: "\e0e4";
}
.crm-m-2561:before {
    content: "\e0e5";
}
.crm-m-2562:before {
    content: "\e0e6";
}
.crm-m-2563:before {
    content: "\e0e7";
}
.crm-m-2575:before {
    content: "\e0e8";
}
.crm-m-2579:before {
    content: "\e0e9";
}
.crm-m-2580:before {
    content: "\e0ea";
}
.crm-m-2581:before {
    content: "\e0eb";
}
.crm-m-2582:before {
    content: "\e0ec";
}
.crm-m-2585:before {
    content: "\e0ed";
}
.crm-m-2586:before {
    content: "\e0ee";
}
.crm-m-2590:before {
    content: "\e0ef";
}
.crm-m-2591:before {
    content: "\e0f0";
}
.crm-m-2602:before {
    content: "\e0f1";
}
.crm-m-2603:before {
    content: "\e0f2";
}
.crm-m-2611:before {
    content: "\e0f3";
}
.crm-m-2612:before {
    content: "\e0f4";
}
.crm-m-2613:before {
    content: "\e0f5";
}
.crm-m-2615:before {
    content: "\e0f6";
}
.crm-m-2615-1:before {
    content: "\e0f7";
}
.crm-m-2617:before {
    content: "\e0f8";
}
.crm-m-2618:before {
    content: "\e0f9";
}
.crm-m-2621:before {
    content: "\e0fa";
}
.crm-m-2627:before {
    content: "\e0fb";
}
.crm-m-2816:before {
    content: "\e0fc";
}
.crm-m-3072:before {
    content: "\e0fd";
}
.crm-m-3328:before {
    content: "\e0fe";
}
.crm-m-3584:before {
    content: "\e0ff";
}
.crm-m-3840:before {
    content: "\e100";
}
.crm-m-4096:before {
    content: "\e101";
}
.crm-m-4352:before {
    content: "\e102";
}
.crm-m-4608:before {
    content: "\e103";
}
.crm-m-4864:before {
    content: "\e104";
}
.crm-m-5376:before {
    content: "\e105";
}
.crm-m-5632:before {
    content: "\e106";
}
.crm-m-5888:before {
    content: "\e107";
}
.crm-m-6144:before {
    content: "\e108";
}
.crm-m-6400:before {
    content: "\e109";
}
.crm-m-6400-1:before {
    content: "\e10a";
}
.crm-m-6656:before {
    content: "\e10b";
}
.crm-m-6912:before {
    content: "\e10c";
}
.crm-m-7168:before {
    content: "\e10d";
}
.crm-m-7424:before {
    content: "\e10e";
}
.crm-m-7680:before {
    content: "\e10f";
}
.crm-m-7936:before {
    content: "\e110";
}
.crm-m-8192:before {
    content: "\e111";
}
.crm-m-8448:before {
    content: "\e112";
}
.crm-m-8704:before {
    content: "\e113";
}
.crm-m-8960:before {
    content: "\e114";
}
.crm-m-9216:before {
    content: "\e115";
}
.crm-m-9472:before {
    content: "\e116";
}
.crm-m-9728:before {
    content: "\e117";
}
.crm-m-9984:before {
    content: "\e118";
}
.crm-m-10240:before {
    content: "\e119";
}
.crm-m-10496:before {
    content: "\e11a";
}
.crm-m-10752:before {
    content: "\e11b";
}
.crm-m-10752-1:before {
    content: "\e11c";
}
.crm-m-12800:before {
    content: "\e11d";
}
.crm-m-16128:before {
    content: "\e11e";
}
.crm-m-16128-1:before {
    content: "\e11f";
}
.crm-mail-settings:before {
    content: "\e120";
}
.crm-mail-verification:before {
    content: "\e121";
}
.crm-mailicon:before {
    content: "\e122";
}
.crm-map:before {
    content: "\e123";
}
.crm-map-marker-change2:before {
    content: "\e124";
}
.crm-map-point:before {
    content: "\e125";
}
.crm-mass-delete:before {
    content: "\e126";
}
.crm-massupdate:before {
    content: "\e127";
}
.crm-maximize:before {
    content: "\e128";
}
.crm-meeting:before {
    content: "\e129";
}
.crm-message:before {
    content: "\e12a";
}
.crm-message-verification:before {
    content: "\e12b";
}
.crm-minimize:before {
    content: "\e12c";
}
.crm-minimize-chart:before {
    content: "\e12d";
}
.crm-misc:before {
    content: "\e12e";
}
.crm-mobile-phone:before {
    content: "\e12f";
}
.crm-month-calendar:before {
    content: "\e130";
}
.crm-more:before {
    content: "\e131";
}
.crm-more-1:before {
    content: "\e132";
}
.crm-more-vertical:before {
    content: "\e133";
}
.crm-move:before {
    content: "\e134";
}
.crm-move-1:before {
    content: "\e135";
}
.crm-move-down:before {
    content: "\e136";
}
.crm-move-up:before {
    content: "\e137";
}
.crm-mp:before {
    content: "\e138";
}
.crm-new:before {
    content: "\e139";
}
.crm-new-page:before {
    content: "\e13a";
}
.crm-new-plan:before {
    content: "\e13b";
}
.crm-next:before {
    content: "\e13c";
}
.crm-next-arrow:before {
    content: "\e13d";
}
.crm-next-forward:before {
    content: "\e13e";
}
.crm-normal-priority:before {
    content: "\e13f";
}
.crm-notification:before {
    content: "\e140";
}
.crm-one-drive:before {
    content: "\e141";
}
.crm-open-mail:before {
    content: "\e142";
}
.crm-open-treemenu:before {
    content: "\e143";
}
.crm-opened:before {
    content: "\e144";
}
.crm-order-by:before {
    content: "\e145";
}
.crm-organization-profile:before {
    content: "\e146";
}
.crm-other:before {
    content: "\e147";
}
.crm-otp:before {
    content: "\e148";
}
.crm-otp-lock:before {
    content: "\e149";
}
.crm-page-layout-delete:before {
    content: "\e14a";
}
.crm-paid:before {
    content: "\e14b";
}
.crm-passoword-view:before {
    content: "\e14c";
}
.crm-paste:before {
    content: "\e14d";
}
.crm-pdf:before {
    content: "\e14e";
}
.crm-pentagon-cancel:before {
    content: "\e14f";
}
.crm-pie-chart:before {
    content: "\e150";
}
.crm-pipeline:before {
    content: "\e151";
}
.crm-pipeview:before {
    content: "\e152";
}
.crm-placeholder:before {
    content: "\e153";
}
.crm-pms-thumb:before {
    content: "\e154";
}
.crm-prev:before {
    content: "\e155";
}
.crm-prev-forward:before {
    content: "\e156";
}
.crm-previous:before {
    content: "\e157";
}
.crm-previous-arrow:before {
    content: "\e158";
}
.crm-printed:before {
    content: "\e159";
}
.crm-printer:before {
    content: "\e15a";
}
.crm-printlayout-clone:before {
    content: "\e15b";
}
.crm-printlayout-draw:before {
    content: "\e15c";
}
.crm-printlayout-preview:before {
    content: "\e15d";
}
.crm-product:before {
    content: "\e15e";
}
.crm-property:before {
    content: "\e15f";
}
.crm-puzzle-piece:before {
    content: "\e160";
}
.crm-pwd:before {
    content: "\e161";
}
.crm-re-order-report:before {
    content: "\e162";
}
.crm-recent:before {
    content: "\e163";
}
.crm-recent-menu:before {
    content: "\e164";
}
.crm-recent-request:before {
    content: "\e165";
}
.crm-recentitems-menu:before {
    content: "\e166";
}
.crm-record-info:before {
    content: "\e167";
}
.crm-record-inforamtion:before {
    content: "\e168";
}
.crm-refresh:before {
    content: "\e169";
}
.crm-related-module-1:before {
    content: "\e16a";
}
.crm-reload:before {
    content: "\e16b";
}
.crm-reminder:before {
    content: "\e16c";
}
.crm-reminder-1:before {
    content: "\e16d";
}
.crm-remove:before {
    content: "\e16e";
}
.crm-report:before {
    content: "\e16f";
}
.crm-request-status-report:before {
    content: "\e170";
}
.crm-right-arrow:before {
    content: "\e171";
}
.crm-right-arrow-point:before {
    content: "\e172";
}
.crm-row-properties:before {
    content: "\e173";
}
.crm-rss-feeds:before {
    content: "\e174";
}
.crm-sales-process:before {
    content: "\e175";
}
.crm-sales-thumb:before {
    content: "\e176";
}
.crm-save:before {
    content: "\e177";
}
.crm-schedular:before {
    content: "\e178";
}
.crm-schedular-disable:before {
    content: "\e179";
}
.crm-searchicon:before {
    content: "\e17a";
}
.crm-secure-lock:before {
    content: "\e17b";
}
.crm-secure-login:before {
    content: "\e17c";
}
.crm-selectall:before {
    content: "\e17d";
}
.crm-selected-circle:before {
    content: "\e17e";
}
.crm-self-service:before {
    content: "\e17f";
}
.crm-service-thumb:before {
    content: "\e180";
}
.crm-shared:before {
    content: "\e181";
}
.crm-shortcut:before {
    content: "\e182";
}
.crm-shortcuts:before {
    content: "\e183";
}
.crm-sign-out:before {
    content: "\e184";
}
.crm-signature:before {
    content: "\e185";
}
.crm-single-column-layout:before {
    content: "\e186";
}
.crm-sitemap:before {
    content: "\e187";
}
.crm-slot-calendar:before {
    content: "\e188";
}
.crm-sms-icon:before {
    content: "\e189";
}
.crm-snap-view:before {
    content: "\e18a";
}
.crm-social:before {
    content: "\e18b";
}
.crm-sort-by:before {
    content: "\e18c";
}
.crm-sort-column:before {
    content: "\e18d";
}
.crm-square-cancel:before {
    content: "\e18e";
}
.crm-stack:before {
    content: "\e18f";
}
.crm-stack-horizonatal:before {
    content: "\e190";
}
.crm-stock-check-1:before {
    content: "\e191";
}
.crm-strikethrough:before {
    content: "\e192";
}
.crm-subscription-plan:before {
    content: "\e193";
}
.crm-sync:before {
    content: "\e194";
}
.crm-tags:before {
    content: "\e195";
}
.crm-task:before {
    content: "\e196";
}
.crm-tele-marketing:before {
    content: "\e197";
}
.crm-telecall:before {
    content: "\e198";
}
.crm-test-amount:before {
    content: "\e199";
}
.crm-text:before {
    content: "\e19a";
}
.crm-text-color:before {
    content: "\e19b";
}
.crm-third-party-app:before {
    content: "\e19c";
}
.crm-three-column-layout:before {
    content: "\e19d";
}
.crm-tick-styled:before {
    content: "\e19e";
}
.crm-tick-unstyled:before {
    content: "\e19f";
}
.crm-time:before {
    content: "\e1a0";
}
.crm-time-notification:before {
    content: "\e1a1";
}
.crm-timer:before {
    content: "\e1a2";
}
.crm-today-calendar:before {
    content: "\e1a3";
}
.crm-toolbar-clone:before {
    content: "\e1a4";
}
.crm-toolbar-edit:before {
    content: "\e1a5";
}
.crm-tools:before {
    content: "\e1a6";
}
.crm-tracker-setting:before {
    content: "\e1a7";
}
.crm-tracking-report:before {
    content: "\e1a8";
}
.crm-tree-view:before {
    content: "\e1a9";
}
.crm-two-column-layout:before {
    content: "\e1aa";
}
.crm-twosided-arrows:before {
    content: "\e1ab";
}
.crm-uncheck:before {
    content: "\e1ac";
}
.crm-unselect-all:before {
    content: "\e1ad";
}
.crm-up-arrow:before {
    content: "\e1ae";
}
.crm-update:before {
    content: "\e1af";
}
.crm-updated:before {
    content: "\e1b0";
}
.crm-upload:before {
    content: "\e1b1";
}
.crm-user:before {
    content: "\e1b2";
}
.crm-user-inactive:before {
    content: "\e1b3";
}
.crm-user-setting:before {
    content: "\e1b4";
}
.crm-usericon:before {
    content: "\e1b5";
}
.crm-users:before {
    content: "\e1b6";
}
.crm-users-inactive:before {
    content: "\e1b7";
}
.crm-users-setting:before {
    content: "\e1b8";
}
.crm-view:before {
    content: "\e1b9";
}
.crm-view-list-512:before {
    content: "\e1ba";
}
.crm-view-map:before {
    content: "\e1bb";
}
.crm-viewed:before {
    content: "\e1bc";
}
.crm-warning:before {
    content: "\e1bd";
}
.crm-warning-1:before {
    content: "\e1be";
}
.crm-weblink:before {
    content: "\e1bf";
}
.crm-website:before {
    content: "\e1c0";
}
.crm-week-calendar:before {
    content: "\e1c1";
}
.crm-whatsapp:before {
    content: "\e1c2";
}
.crm-word:before {
    content: "\e1c3";
}















/* ------------------------------ Unused Extra Icons ---------------------------------------*/

/*  ######################################  CLASSES OF DEFAULT FONT CRM IMAGES ENDS  ########################################################## */



/*_______________________________________________________________________________________________________________________________________________________________________________________*/








/*  ######################################## CLASSES OF DEFAULT FONT CRM IMAGES WITH REQUIRED STYLES STARTS ########################################################## */

.crm-view-map:before
{
    color:#000000;
}
.crm-map-point:before
{

}
.crm-amount:before
{
    border-color:red;
    background-color:yellow;
    color:blue;
    font-size:30px;
}
.crm-addnote:before {
    color: #888C88;
    font-size: 18px;
} /* '?' */
.crm-row-properties:before {
    font-size: 11px;
    color: black;
    font-weight: bold;
    padding-right: 3px;
} /* '?' */
.crm-close-treemenu:before {
    font-size: 8px;
    /*color: black;*/
}
.crm-open-treemenu:before {
    font-size: 8px;
    /*color: black;*/
} /* '?' */
.crm-information:before {
    font-size: 25px;
    color: #4FC9F1;
} /* '?' */
.crm-csv:before {
    color:#1F7244;
    font-size:15px;
} /* '?' */
.crm-pdf:before {
    color:#CA2128;
    /*font-size:15px;*/
} /* '?' */
.crm-action-columntask:before {
    font-size: 18px;
    color:#92704F;
} /* '?' */
.crm-columntask:before {
    color:#92704F;
    font-size:18px;
} /* '?' */
.crm-chat:before {
    color: #85CAE5;
    font-size: 18px;
} /* '?' */
.crm-open-mail:before {
    color: #85CAE5;
    font-size: 18px;
} /* '?' */
.crm-timer:before {
    font-size:18px;
    color:#000000;
} /* '?' */

.crm-unsync:before
{
    color: red;
    background-color: #ffffff;
    font-size: 18px;
}
.crm-sync3:before
{
    color: yellow;
    background-color: #ffffff;
    font-size: 18px;
}
.crm-sync2:before
{
    color: #22CD22;
    background-color: #ffffff;
    font-size: 18px;
}
.crm-filled-note:before {
    color: #000000;
} /* '?' */
.crm-filled-columnnote:before {
    color: #696B69;
    font-size: 18px;
    padding-left: 2px;
} /* '?' */
.crm-empty-note:before {
    color: #000000;
} /* '?' */
.crm-empty-columnnote:before {
    color: #000000;
    font-size: 18px;
} /* '?' */
.crm-tick-unstyled:before {
    color:#70B27C;
} /* '?' */
.crm-tick-styled:before {
    color:#000000;
} /* '?' */
.crm-uncheck:before {
    color:#000000;
} /* '?' */
.crm-checked:before {
    color:#000000;
} /* '?' */
.crm-property:before {
    color:#000000;
} /* '?' */

.crm-arrowdown:before {
    font-size: 10px;
    color: #000000;
} /* '?' */
.crm-update:before {
    color:#323232;
    font-size:12px;
} /* '?' */
.crm-Image-search:before {
    color: black;
    font-size: 16px;
    /*text-shadow: -2px 1px 0px #FF0000;*/
} /* '?' */

.crm-followup:before {
    color: #333333;
} /* '?' */
.crm-shortcut:before {
   border: 1px solid #D1CDCD;
    padding: 2px;
    font-size: 18px;
    color: #5c799E;
    margin-left: -5px;
} /* '?' */
.crm-shortcuts:before {
  padding: 2px;
    font-size: 18px;
    margin-left: -5px;
}
.crm-sales-thumb:before {
    /*color: white;*/
    font-size: 15px;
    padding-top: 4px;
} /* '?' */
.crm-time-notification:before {
    color: #92704F;
    font-size: 14px;
} /* '?' */
.crm-notification:before {
    color: #EACDEA;
    background-color: #B688B6;
    border-radius: 50%;
    border: 1px solid #B688B6;
    padding: 1px;
} /* '?' */
.crm-meeting:before {
    color:#92704F;/* color:#965312;*/
    font-size:20px;
} /* '?' */
.crm-extra-module:before {
    color: green;
} /* '?' */
.crm-printLayout-draw:before {
    /*color: black;*/
    font-size: 15px;
} /* '?' */
.crm-square-cancel:before {
    color: #FF5C5C;
    font-size: 18px;
    background-color: whitesmoke;
    border-radius: 4px;
    position: absolute;
    top: 5px;
    right: 3px;
} /* '?' */
.crm-service-thumb:before {
    /*color: white;*/
    font-size: 15px;
    padding-top: 4px;
} /* '?' */
.crm-printLayout-preview:before {
    /*color: black;*/
    font-size: 14px;
} /* '?' */
.crm-pentagon-cancel:before {
    color:#ee7171;
    font-size:16px;
} /* '?' */
.crm-pie-chart:before {
    color: forestgreen;
    padding-left: 1px;
    padding-right: 4px;
} /* '?' */
.crm-funnel-chart:before {
    color: forestgreen;
    padding-left: 1px;
    padding-right: 4px;
} /* '?' */

.crm-folder-add-circle:before {
    color: #DEC14E;
} /* '?' */
.crm-fill-bucket:before {
    font-size: 16px;
    color: #00A1CC;
} /* '?' */
.crm-save:before {
    /*color: #333333;*/
} /* '?' */
.crm-toolbar-clone:before {
    color:#323232;
} /* '?' */
.crm-text-color:before {
    font-size: 16px;
    color: #00A1CC;
} /* '?' */
.crm-3D-stacked-chart:before {
    color: forestgreen;
    padding-left: 2px;
    padding-right: 4px;
} /* '?' */
.crm-pms-thumb:before {
    /*color: white;*/
    font-size: 15px;
    padding-top: 4px;
} /* '?' */

.crm-Activity:before {
    /*color:#92704F;*/
    /*font-size:18px;*/
} /* '?' */
.crm-task:before {
    /*color:#92704F;*/
    font-size:18px;
} /* '?' */
.crm-horizontal-bar-chart:before {
    color: forestgreen;
    padding-left: 2px;
    padding-right: 4px;
} /* '?' */
.crm-mailicon:before {
    color: #7B9BB5;
} /* '?' */
.crm-sms-icon:before {
    color: #7B9BB5;
} /* '?' */
.crm-strikethrough:before {
    font-size: 18px;
    color: #000000;
    padding-left: 1px;
} /* '?' */
.crm-tele-marketing:before {
    font-size: 15px;
    /*color: white;*/
    padding-top: 4px;
} /* '?' */
.crm-hash:before {
    color: black;
    padding-bottom: 3px;
    font-size: 12px;
    font-weight:600;
} /* '?' */
.crm-printLayout-clone:before {
    /*color:#000000;*/
    /*padding-left: 10px;*/
} /* '?' */
.crm-new-plan:before {
    color: #92704F;
    font-size:18px;
} /* '?' */
.crm-refresh:before {
    color: black;
    font-size: 11px;
} /* '?' */
.crm-refresh-small:before {
    color: black;
    font-size: 10px;
} /* '?' */
.crm-insert:before {
    /*color: #000000;*/
} /* '?' */
.crm-layout-delete:before {
    /*color:black;*/
} /* '?' */

.crm-add-Group:before {
    color:#323232;
} /* '?' */
.crm-Group:before {
    /*color:#323232;*/
    color:white;
} /* '?' */
.crm-mass-delete:before {
    color:#323232;
} /* '?' */
.crm-selectAll:before {
    color:#323232;
} /* '?' */
.crm-Move:before {
    color:#323232;
} /* '?' */

.crm-3D-bar-chart:before {
    font-size:20px;
    color:#5c799E;
} /* '?' */
.crm-report:before {
    color: lightseagreen/*color: #CCA783;*/
} /* '?' */
.crm-customize-report:before {
    font-size:18px;
    color:#5c799E;/* color:#696969;*/
} /* '?' */
.crm-users:before {
    color:#3587AD;
    font-size:25px;
} /* '?' */
.crm-user:before {
    color:#3587AD;
    font-size:20px;
} /* '?' */
.crm-users-inactive:before {
    color:#000000;
    font-size:20px;
} /* '?' */
.crm-user-inactive:before {
    color:#000000;
    font-size:15px;
}
.crm-graphLeftMenu:before {
    color:lightseagreen;
} /* '?' */
.crm-html:before {
    font-size:18px;
    color:#5c799E;
} /* '?' */
.crm-map:before {
    font-size:20px;
    color:#5c799E;
} /* '?' */
.crm-weblink:before {
    font-size:20px;
    color:#5c799E;
} /* '?' */
.crm-Image:before {
    font-size:18px;
    color:#5c799E;
} /* '?' */
.crm-bar-report:before {
    font-size:20px;
    color:#5c799E;
} /* '?' */
.crm-announcement:before {
    font-size:20px;
    color:#5c799E;
} /* '?' */
.crm-rss-feeds:before {
    font-size:18px;
    color:#5c799E;
} /* '?' */
.crm-snap-view:before {
    font-size:18px;
    color:#5c799E;
} /* '?' */
.crm-combo-search:before {
    font-size: 12px;
    color: white;

} /* '?' */
.combo-search-box
{
    background: -webkit-linear-gradient(#D2D2E4, #AEAECC);
    background: -o-linear-gradient(#D2D2E4, #AEAECC);
    background: -moz-linear-gradient(#D2D2E4, #AEAECC);
    background: linear-gradient(#D2D2E4, #AEAECC);
    position: relative;
    left: -26px;
    padding-left: 5px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    height: 12px;
    width: 7px;
}
.crm-column-properties:before {
    color:#305080;
    font-size: 11px;
    padding-top:1px;
    padding-right: 4px;
} /* '?' */
.crm-sort-Column:before {
    color:#000000;
    font-size: 11px;
} /* '?' */
.crm-font-icon:before {
    padding-bottom: 3px;
    color: #000000;
} /* '?' */
.crm-format:before {
    padding-bottom: 3px;
    font-size: 13px;
    color: #364E98;
} /* '?' */
.crm-delete:before {
    font-size: 14px;
} /* '?' */
.crm-slot-calendar:before {
    color:cadetblue;
} /* '?' */
.crm-book-slot:before {
    color:cadetblue;
    font-size:17px;
} /* '?' */
.crm-arrowup:before {
    font-size: 10px;
    color: #000000;
} /* '?' */
.crm-decoration-circle:before {
    color: #4D69A1;
    font-size: 10px;
} /* '?' */
.crm-twosided-arrows:before {
    font-size: 11px;
    height: 4px;
    padding-left: 3px;
    color: black;
} /* '?' */
.crm-col-adjust:before {
    /*background-color: antiquewhite;*/
    color: black;
    font-size: 15px;
} /* '?' */
.crm-document:before {
    color: #CCB045;
    font-size: 30px;
} /* '?' */
.crm-filter-plus:before {
    border: 1px solid #374875;
    color: #006D07;
    font-size: 10px;
    padding-left: 1px;
    padding-right: 2px;
    padding-bottom: 2px;
    padding-top: 2px;} /* '?' */
.crm-toolbar-edit:before {
    color: #323232;
    font-size: 22px;
    padding-bottom: 1px;
} /* '?' */
.crm-dashlet-maximize:before {      /*circle*/

    font-size: 10px;
    color: #000000;

} /* '?' */
.crm-dashlet-minimize:before {

    font-size: 10px;
    color: #000000;
} /* '?' */
.crm-month-calendar:before {

    font-size: 20px;
    color:#333333;
}
.crm-month-calendar-lg:before {

    font-size: 20px;
    color:#006AA9;
}/* '?' */
.crm-week-calendar:before {

    font-size: 20px;
    color:#333333;
}
.crm-week-calendar-lg:before {

    font-size: 20px;
    color:#006AA9;
}/* '?' */
.crm-day-calendar:before {

    font-size: 20px;
    color:#333333;

}
.crm-day-calendar-lg:before {

    font-size: 20px;
    color:#006AA9;

} /* '?' */
.crm-4day-calendar:before {

    font-size: 20px;
    color:#333333;
}
.crm-4day-calendar-lg:before {

    font-size: 20px;
    color:#006AA9;
}/* '?' */
.crm-font-size-100
{
    font-size: 100px;
    color: aliceblue;
    width:85%;
}
.crm-font-size-20
{
    font-size: 20px;
    color: aliceblue;
}
.crm-font-size-28
{
    font-size:28px;
}
.crm-font-size-16
{
    font-size:16px;
}
.crm-font-size-13
{
    font-size: 13px;
}
.crm-16
{
    background-color: #5c9567;
    border-radius: 10px;
    color: #ffffff;
    display: inline-block;
    font-size: 10px;
    text-align: center;
    height: 19px;
    line-height: 1.9;
    width: 19px;
}
.crm-m-2305-medium:before {
    font-size: 40px;
} /* '?' */
.crm-m-2305-small:before {
    font-size: 20px;
} /* '?' */

.crm-maximize:before
{
    font-size: 7px;
    color: #000000;
    padding-bottom: 4px;
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 4px;
    border: 1px solid black;
    border-radius: 10px;
}
.crm-minimize:before {
    font-size: 7px;
    color: #000000;
    padding-bottom: 4px;
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 4px;
    border: 1px solid black;
    border-radius: 10px;
} /* '?' */
.crm-printer:before {
    font-size: 8px;
    color: #000000;
    padding-bottom: 4px;
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 4px;
    border: 1px solid black;
    border-radius: 10px;
} /* '?' */

.crm-find-replace:before {
    color:#1B1B1A;
    font-size: 20px;
    padding-left: 3px;
} /* '?' */


.crm-line-graph:before {color: forestgreen; } /* '?' */
.crm-donut:before { color: forestgreen;}
.crm-stack:before {color: forestgreen; } /* '?' */
.crm-MassUpdate:before {
    color:#323232;
} /* '?' */
.crm-unselect-all:before {
    color:#323232;
} /* '?' */

 .crm-folder-doc:before {
     font-size:12px;
 } /* '?' */

.crm-folder-close:before {
   color:#DEC14E;
} /* '?' */
.crm-folder-open:before {
  color:#DEC14E;
} /* '?' */

.crm-adv-Filter:before {
    font-size: 12px;
    padding:0px;
    color:#795a3b;
}


.crm-line-direction:before
{
    color:#FD6B2F;
}

.crm-lock:before {
    font-size: 10px;
    color: black;

}
.crm-page-layout-delete:before {
    font-size: 50px;
    color: #1E4729; /* For Safari 5.1 to 6.0 */
    color: #1E4729; /* For Opera 11.1 to 12.0 */
    color: #1E4729; /* For Firefox 3.6 to 15 */
    color: #1E4729; /* Standard syntax */
    height: 32px;
    margin-top: 20px;
}
  .crm-Dlg-close:before {
    font-size: 9px;
    font-weight: bold;
    color: black;
}
.crm-check-load:before {
    font-size:20px;
}
.crm-recent-request:before {
    /*font-size: 18px;*/
    /*color: #374875;*/
}
.crm-Dlg-close:before {
    font-size: 9px;
    font-weight: bold;
    color: #0C0C0C;
}

.crm-calendar-setting:before {
    color: #5a5555;
    font-size: 18px;
    font-weight: bold;
}
.crm-export:before{
 /*color:#000000;*/
    padding: 2px;
}

/*.crm-report-export:before{
    color:#fff;
    padding-left: 2px;
    padding-right: 5px;
}
.crm-report-import:before{
    color:#fff;
    padding-left: 2px;
    padding-right: 5px;
}*/
.crm-crm-add-messages:before {
    font-size: 20px;
    color: #9FA386;
}
/*.crm-add-announcement:before
{
     font-size: 20px;
    color: #9FA386;
}*/
.crm-360-degrees:before {
    padding: 2px;
    font-size: 20px;
    margin-left: -5px;
}

.crm-schedular::before
{
    font-size: 13px;
    color: #32ca32;
}

.crm-schedular-disable:before {
    font-size: 13px;
    color: #A2A2A2;
}


.crm-list-delete:before {
    /*font-size: 9px;*/
}

.crm-close-dlg::before{
    color: #aaaaaa;
}
.crm-prev:before {
    color: #333;
}
.crm-next:before {
    color: #333;
}
.crm-next-forward:before {
    color: #333;
}
.crm-prev-forward:before {
    color: #333;
}
.crm-prev-disable:before {
    color: #A49E9E;
}
.crm-next-disable:before {
    color: #A49E9E;
}
.crm-next-forward-disable:before {
    color: #A49E9E;
}
.crm-prev-forward-disable:before {
    color: #A49E9E;
}
.crm-excel:before {
    color: #1F7244;
}
/*  ####################################   CLASSES OF DEFAULT FONT CRM IMAGES WITH REQUIRED STYLES ENDS  ########################################################## */


/*############### classes of Awesome icons*/
.crm-bell:before {
    font-size: 15px;
}





























