.sModule{
    /*background: url(../../../default/images/ModuleSprite.png) no-repeat;*/
    background-image: url(../../../default/images/ModuleSprite-1.4.png);
    background-repeat:no-repeat;
    font-size:10px;
}

.s-List{ background-position: 0 0; width: 16px; height: 16px; }
.s-Multi-user{ background-position: 0 -17px; width: 16px; height: 16px; }
.s-Today{ background-position: 0 -34px; width: 16px; height: 16px; }
.s-User{ background-position: 0 -51px; width: 16px; height: 16px; }
.s-add_row{ background-position: 0 -68px; width: 16px; height: 16px; }
.s-addgroup{ background-position: 0 -85px; width: 20px; height: 20px; }
.s-addgroup_n{ background-position: 0 -106px; width: 18px; height: 18px; }
.s-advFilter{ background-position: 0 -125px; width: 16px; height: 16px; }
.s-alert{ background-position: 0 -142px; width: 16px; height: 16px; }
.s-alphabet_a{ background-position: 0 -159px; width: 13px; height: 15px; }
.s-approve{ background-position: 0 -175px; width: 16px; height: 16px; }
.s-arrow_dropdown{ background-position: 0 -192px; width: 10px; height: 10px; }
.s-arrow_up{ background-position: 0 -203px; width: 10px; height: 10px; }
.s-arrt{ background-position: 0 -214px; width: 7px; height: 9px; }
.s-attachment{ background-position: 0 -224px; width: 15px; height: 15px; }
.s-attachment1{ background-position: 0 -240px; width: 20px; height: 20px; }
.s-backward{ background-position: 0 -261px; width: 16px; height: 16px; }
.s-bg{ background-position: 0 -278px; width: 2px; height: 26px; }
.s-bl{ background-position: 0 -305px; width: 10px; height: 10px; }
.s-blank{ background-position: 0 -316px; width: 19px; height: 16px; }
.s-br{ background-position: 0 -333px; width: 10px; height: 10px; }
.s-button1{ background-position: 0 -344px; width: 1px; height: 19px; }
.s-chart2{ background-position: 0 -364px; width: 17px; height: 17px; }
.s-clone{ background-position: 0 -382px; width: 20px; height: 20px; }
.s-clone_n{ background-position: 0 -403px; width: 18px; height: 18px; }
.s-closeDlg{ background-position: 0 -422px; width: 24px; height: 24px; }
.s-closeDlg_n{ background-position: 0 -447px; width: 16px; height: 16px; }
.s-closedFolder{ background-position: 0 -464px; width: 22px; height: 20px; }
.s-closedFolder1{ background-position: 0 -485px; width: 16px; height: 14px; }
.s-col_props{ background-position: 0 -500px; width: 16px; height: 16px; }
.s-col_props_n{ background-position: 0 -517px; width: 16px; height: 16px; }
.s-composite_Report{ background-position: 0 -534px; width: 24px; height: 24px; }
.s-contact{ background-position: 0 -559px; width: 16px; height: 16px; }
.s-cross_small{ background-position: 0 -576px; width: 16px; height: 16px; }
.s-csv{ background-position: 0 -593px; width: 17px; height: 19px; }
.s-custom_add{ background-position: 0 -613px; width: 16px; height: 16px; }
.s-custom_remove{ background-position: 0 -630px; width: 16px; height: 16px; }
.s-custom_remove1{ background-position: 0 -647px; width: 20px; height: 20px; }
.s-custom_remove1_n{ background-position: 0 -668px; width: 18px; height: 18px; }
.s-customizelist{ background-position: 0 -687px; width: 20px; height: 20px; }
.s-dashlet-maximize{ background-position: 0 -708px; width: 16px; height: 16px; }
.s-dashlet-restore{ background-position: 0 -725px; width: 16px; height: 16px; }
.s-date_selector{ background-position: 0 -742px; width: 20px; height: 14px; }
.s-delete_row{ background-position: 0 -757px; width: 16px; height: 16px; }
.s-deleteall{ background-position: 0 -774px; width: 20px; height: 20px; }
.s-dots{ background-position: 0 -795px; width: 5px; height: 6px; }
.s-down{ background-position: 0 -802px; width: 16px; height: 16px; }
.s-dropdown{ background-position: 0 -819px; width: 21px; height: 4px; }
.s-edit{ background-position: 0 -824px; width: 12px; height: 12px; }
.s-edit1{ background-position: 0 -837px; width: 13px; height: 13px; }
.s-edit_n{ background-position: 0 -851px; width: 18px; height: 18px; }
.s-empty_highligted_22{ background-position: 0 -870px; width: 22px; height: 22px; }
.s-excel{ background-position: 0 -893px; width: 17px; height: 17px; }
.s-focus{ background-position: 0 -911px; width: 86px; height: 60px; }
.s-followup{ background-position: 0 -972px; width: 120px; height: 25px; }
.s-forward{ background-position: 0 -998px; width: 16px; height: 16px; }
.s-forward_disabled{ background-position: 0 -1015px; width: 16px; height: 16px; }
.s-function{ background-position: 0 -1032px; width: 16px; height: 16px; }
.s-function_n{ background-position: 0 -1049px; width: 16px; height: 16px; }
.s-google{ background-position: 0 -1066px; width: 16px; height: 16px; }
.s-group{ background-position: 0 -1083px; width: 20px; height: 20px; }
.s-high-priority{ background-position: 0 -1104px; width: 15px; height: 15px; }
.s-high-priority1{ background-position: 0 -1120px; width: 20px; height: 20px; }
.s-html{ background-position: 0 -1141px; width: 22px; height: 22px; }
.s-i_modules{ background-position: 0 -1164px; width: 16px; height: 16px; }
.s-image{ background-position: 0 -1181px; width: 24px; height: 24px; }
.s-imritt{ background-position: 0 -1206px; width: 13px; height: 13px; }
.s-last{ background-position: 0 -1220px; width: 12px; height: 13px; }
.s-last_d{ background-position: 0 -1234px; width: 12px; height: 13px; }
.s-liss{ background-position: 0 -1248px; width: 5px; height: 22px; }
.s-list-back{ background-position: 0 -1271px; width: 1px; height: 26px; }
.s-listview{ background-position: 0 -1298px; width: 20px; height: 20px; }
.s-low-priority{ background-position: 0 -1319px; width: 15px; height: 15px; }
.s-low-priority1{ background-position: 0 -1335px; width: 20px; height: 20px; }
.s-mPea{ background-position: 0 -1356px; width: 7px; height: 1px; }
.s-m_modules{ background-position: 0 -1358px; width: 16px; height: 16px; }
.s-mail-to{ background-position: 0 -1375px; width: 16px; height: 16px; }
.s-mail{ background-position: 0 -1392px; width: 16px; height: 12px; }
.s-mail1{ background-position: 0 -1405px; width: 16px; height: 16px; }
.s-mail2{ background-position: 0 -1422px; width: 16px; height: 16px; }
.s-mail_reply{ background-position: 0 -1439px; width: 15px; height: 15px; }
.s-map-marker{ background-position: 0 -1455px; width: 24px; height: 24px; }
.s-massupdate{ background-position: 0 -1480px; width: 20px; height: 20px; }
.s-messagebox{ background-position: 0 -1501px; width: 16px; height: 16px; }
.s-metric{ background-position: 0 -1518px; width: 24px; height: 24px; }
.s-mid-raw-2{ background-position: 0 -1543px; width: 1px; height: 22px; }
.s-move{ background-position: 0 -1566px; width: 20px; height: 20px; }
.s-movedown{ background-position: 0 -1587px; width: 20px; height: 20px; }
.s-moveup{ background-position: 0 -1608px; width: 20px; height: 20px; }
.s-new{ background-position: 0 -1629px; width: 28px; height: 28px; }
.s-new_n{ background-position: 0 -1658px; width: 18px; height: 18px; }
.s-next{ background-position: 0 -1677px; width: 12px; height: 13px; }
.s-next_d{ background-position: 0 -1691px; width: 12px; height: 13px; }
.s-nonFolder{ background-position: 0 -1705px; width: 16px; height: 16px; }
.s-normal-priority{ background-position: 0 -1722px; width: 15px; height: 15px; }
.s-normal-priority1{ background-position: 0 -1738px; width: 20px; height: 20px; }
.s-not-allow{ background-position: 0 -1759px; width: 16px; height: 16px; }
.s-note2{ background-position: 0 -1776px; width: 16px; height: 16px; }
.s-note3{ background-position: 0 -1793px; width: 16px; height: 16px; }
.s-number{ background-position: 0 -1810px; width: 16px; height: 16px; }
.s-openFolder{ background-position: 0 -1827px; width: 20px; height: 20px; }
.s-openFolder_n{ background-position: 0 -1848px; width: 18px; height: 18px; }
.s-pending{ background-position: 0 -1867px; width: 16px; height: 16px; }
.s-pie_chart{ background-position: 0 -1884px; width: 24px; height: 24px; }
.s-pla{ background-position: 0 -1909px; width: 16px; height: 15px; }
.s-plan{ background-position: 0 -1925px; width: 22px; height: 22px; }
.s-pr{ background-position: 0 -1948px; width: 16px; height: 12px; }
.s-pre{ background-position: 0 -1961px; width: 12px; height: 13px; }
.s-pre_d{ background-position: 0 -1975px; width: 12px; height: 13px; }
.s-prepre{ background-position: 0 -1989px; width: 12px; height: 13px; }
.s-prepre_d{ background-position: -121px 0; width: 12px; height: 13px; }
.s-print{ background-position: -121px -14px; width: 17px; height: 17px; }
.s-q_tile{ background-position: -121px -32px; width: 17px; height: 23px; }
.s-refresh{ background-position: -121px -56px; width: 8px; height: 10px; }
.s-reject{ background-position: -121px -67px; width: 16px; height: 16px; }
.s-row_props{ background-position: -121px -84px; width: 16px; height: 16px; }
.s-row_props_n{ background-position: -121px -101px; width: 16px; height: 16px; }
.s-rss{ background-position: -121px -118px; width: 16px; height: 16px; }
.s-saverds{ background-position: -121px -135px; width: 8px; height: 21px; }
.s-search{ background-position: -121px -157px; width: 24px; height: 24px; }
.s-searchoptions{ background-position: -121px -182px; width: 24px; height: 24px; }
.s-selectall{ background-position: -121px -207px; width: 20px; height: 20px; }
.s-setting4{ background-position: -121px -228px; width: 16px; height: 16px; }
.s-shrtcut{ background-position: -121px -245px; width: 9px; height: 9px; }
.s-shuttle_arrow_down{ background-position: -121px -255px; width: 18px; height: 18px; }
.s-shuttle_arrow_left{ background-position: -121px -274px; width: 18px; height: 18px; }
.s-shuttle_arrow_right{ background-position: -121px -293px; width: 18px; height: 18px; }
.s-shuttle_arrow_up{ background-position: -121px -312px; width: 18px; height: 18px; }
.s-sort_asc{ background-position: -121px -331px; width: 16px; height: 16px; }
.s-sort_asc_n{ background-position: -121px -348px; width: 16px; height: 16px; }
.s-sort_desc{ background-position: -121px -365px; width: 16px; height: 16px; }
.s-sort_desc_n{ background-position: -121px -382px; width: 16px; height: 16px; }
.s-sortasc{ background-position: -121px -399px; width: 20px; height: 20px; }
.s-str{ background-position: -121px -420px; width: 20px; height: 13px; }
.s-t_modules{ background-position: -121px -434px; width: 16px; height: 16px; }
.s-tab_le_act{ background-position: -121px -451px; width: 190px; height: 23px; }
.s-tab_ri_act{ background-position: -121px -475px; width: 3px; height: 23px; }
.s-task1{ background-position: -121px -499px; width: 16px; height: 16px; }
.s-task2{ background-position: -121px -516px; width: 16px; height: 16px; }
.s-tick-circle{ background-position: -121px -533px; width: 16px; height: 16px; }
.s-tl{ background-position: -121px -550px; width: 10px; height: 10px; }
.s-toggle_alpha{ background-position: -121px -561px; width: 16px; height: 16px; } 
.s-toggle_filter{ background-position: -121px -578px; width: 16px; height: 16px; }
.s-tr{ background-position: -121px -595px; width: 10px; height: 10px; }
.s-unselectall{ background-position: -121px -606px; width: 20px; height: 20px; }
.s-up{ background-position: -121px -627px; width: 16px; height: 16px; }
.s-visit{ background-position: -121px -644px; width: 16px; height: 16px; }
.s-weblink{ background-position: -121px -661px; width: 24px; height: 24px; }
